<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
    <%=fields_for :artist, @song.artist do |artist| %>
    <%= artist.label :name %>
    <%= artist.text_field :name %>
  <br />
  <%end%>

  <%= f.submit %>
<% end %>
